.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: $small) {
  .container {
    max-width: $small-container;
  }
}

@media (min-width: $medium) {
  .container {
    max-width: $medium-container;
  }
}

@media (min-width: $large) {
  .container {
    max-width: $large-container;
  }
}

@media (min-width: $huge) {
  .container {
    max-width: $huge-container;
  }
}