ul {
  margin: 0;
  padding: 0;
}

.site-header {
  display: flex;
  background: $red;
  .menu-nav-container, .brand-logo, .right-col {
    display: inline-flex;
    align-items: center;
  }
  .right-col {
    flex: 1 0 28.4%;
  }
  .brand-logo {
    flex: 1 0 23%;
  }
  .main-navigation {
    display: flex;
    font-family: "Droid Sans";
    ul {
      li {
        a {
          padding: 38px 20px 38px;
          color: #fff;
          &:active {
            background: #fff;
          }
          &:hover {
            background: rgba(0, 0, 0, .45);
          }
        }
      }
    }
  }
  .brand-logo {
    a {
      height: 76px;
      img {
        width: 115px;
        height: 76px;
      }
    }
  }
  .soc-sharing {
    ul {
      list-style: none;
      display: flex;
      align-items: flex-end;
      margin: 0;
      padding: 0;
      li {
        margin-right: 43px;
      }
    }
    .facebook, .twitter, .google-plus {
      &:before {
        margin-right: 9px;
      }
    }
  }
  .-purchase-btn-header {
    color: $red;
    background: #fff;
  }
  a {
    text-transform: uppercase;
  }
}

.facebook:before {
  content: '';
  display: inline-block;
  background: url(../img/fb-ico.png) no-repeat left;
  width: 12px;
  height: 23px;
  margin-bottom: -2px;
}

.twitter:before {
  content: '';
  display: inline-block;
  background: url(../img/tw-ico.png) no-repeat left;
  width: 22px;
  height: 18px;
  margin-bottom: -2px;
}

.google-plus:before {
  content: '';
  display: inline-block;
  background: url(../img/g-plus-icon.png) no-repeat left;
  width: 22px;
  height: 23px;
  margin-bottom: -2px;
}

.menu-toggle {
  padding-left: 15px;
  border: none;
  background: transparent;
  margin: 60px auto 40px;
  position: relative;
  height: 30px;
  width: 50px;

  &:before,
  &:after {
    background: #fff;
    backface-visibility: hidden;
    content: "";
    height: 2px;
    left: 0;
    transition: 0.75s;
    width: 50px;
  }

  &:before {
    box-shadow: #fff 0 14px 0 0;
    position: absolute;
    top: 0;
  }

  &:after {
    position: absolute;
    top: calc(100% - 2px);
  }

  &:active {

    &:before {
      box-shadow: transparent 0 0 0 0;
      top: 50%;
      transform: rotate(225deg);
    }

    &:after {
      top: 50%;
      transform: rotate(315deg);
    }
  }
}

@media (max-width: 991px) {
  .site-header {
    padding-left: 15px;
    padding-right: 15px;
  }
  .main-navigation {
    li {
      float: none;
    }
  }
}

.active {
  position: relative;
  &:after {
    border-bottom: 0.125em solid rgba(255, 255, 255, .5);
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 48%;
    max-width: 76px;
    margin-left: auto;
    margin-right: auto;
  }
}