.progress {
  display: flex;
  height: 3px;
  overflow: hidden;
  background-color: #d3d3d3;
  width: 100%;
}
.progress-bar {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: $red;
}