.progress {
  display: flex;
  height: 3px;
  overflow: hidden;
  background-color: #d3d3d3;
  width: 100%;
  position: relative;
}
.progress-bar {
  width:0px;
  height:3px;
  position:relative;
  background: $red;
}